 <script id="webResultsTemplate" type="text/x-handlebars-template">
      <div id="webResults" class="">
        <h2>Web Results</h2>
        {{#each_upto web 0 3}}
            <div class="web-result-row">
                <a href={{Url}}>
                    <h2>{{SubTitle}}</h2>
                    <h3>{{PublishDate}}</h3>
                    <h3>{{Type}}</h3>
                    <p>{{Description}}</p>
                </a>
            </div>
        {{/each_upto}}
      </div>
    </script>
    <script id="docResultsTemplate" type="text/x-handlebars-template">
      <div id="docResults" class="">
        <h2>Doc Results</h2>
        {{#each_upto docs 0 3}}
            <div class="doc-result-row">
                <a href={{url}}>
                    <h2>{{title}}</h2>
                    <h3>{{PublishDate}}</h3>
                    <h3>{{meetingTitle}}</h3>
                </a>
            </div>
        {{/each_upto}}
      </div>
    </script>

    <!-- Definitely a more efficient way to do these more templates.. -->

    <script id="webResultsTemplateMore" type="text/x-handlebars-template">
      <div id="webMoreResults" class="results web">
        <h2>More Web Results</h2>
        {{#each_upto web 4 100}}
            <div class="web-result-row">
                <a href={{Url}}>
                    <h2>{{SubTitle}}</h2>
                    <h3>{{PublishDate}}</h3>
                    <h3>{{Type}}</h3>
                    <p>{{Description}}</p>
                </a>
            </div>
        {{/each_upto}}
      </div>
    </script>
    <script id="docResultsTemplateMore" type="text/x-handlebars-template">
      <div id="docMoreResults" class="results doc">
        <h2>More Doc Results</h2>
        {{#each_upto docs 4 100}}
            <div class="doc-result-row">
                <a href={{url}}>
                    <h2>{{title}}</h2>
                    <h3>{{PublishDate}}</h3>
                    <h3>{{meetingTitle}}</h3>
                </a>
            </div>
        {{/each_upto}}
      </div>
    </script>